# Node
# --------------------------------------------------------------------------------------------------
node_modules

# Production
# --------------------------------------------------------------------------------------------------
dist

# Development
# --------------------------------------------------------------------------------------------------
.env
db
